body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f8fb;
    color: #333;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #0f172a;
}

#nav-links {
    text-decoration: none;
    background: #00bfa6;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

/* TITLE */
.page-title {
    text-align: center;
    padding: 60px 20px;
}

/* GRID */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
    padding: 40px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.diagram {
    height: 150px;
    margin-top: 10px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    margin-bottom: 10px;
}

.card ul {
    padding-left: 20px;
    font-size: 14px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background: #00bfa6;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #009e8f;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .cards-container {
        padding: 20px;
        gap: 25px;
    }

    .card img {
        height: 160px;
    }

}